<div class="d_corps_msg">
<div class="d_date"><mx:text id="message_le"/> <mx:text id="message_date"/> <mx:text id="message_a"/> <mx:text id="message_heure"/></div>
<div class="d_pseudo"><a name="id<mx:text id="idMsg"/>"><mx:text id="flag"/> <mx:text id="pseudo"/> <mx:text id="ville"/><mx:text id="pays"/> <mx:text id="img_home"/> <mx:text id="img_mail"/></a></div>

<mx:bloc id="bloc_aff_note"><div class="d_note_user"><mx:text id="message_note"/> : <mx:text id="note"/>/10</div></mx:bloc id="bloc_aff_note">

<div><br /><mx:text id="message_write"/><mx:bloc id="bloc_reponse"><br /><br /><div class="reponse"><strong><mx:text id="titre_reponse"/></strong> : <mx:text id="reponse"/></div></mx:bloc id="bloc_reponse"></div>
</div>