<!-- bloc header -->
<mx:bloc id="bloc1">
</mx:bloc id="bloc1">
<!-- fin bloc header -->

<p align="center"><font class="Titre_Blanc"><b>@lex Guestbook</b></font></p>
<div align="center">
  <center>
  <table border="0" width="155" cellspacing="0" cellpadding="0">
    <tr>
      <td width="100%" align="center" class="row_bleu"><img src="../images/blank.gif" width="1" height="1" border="0"></td>
    </tr>
    <tr>
      <td width="100%" height="18" class="row_gris">
        <p align="center"><font class="Arial_Rouge"><b><mx:text id="options"/></b></font></td>
    </tr>
    <tr>
      <td width="100%" align="center" bgcolor="#000000" class="row_bleu"><img src="../images/blank.gif" width="1" height="1" border="0"></td>
    </tr>
    <tr>
      <td width="100%" class="row_blanc">&nbsp;<img src="<mx:text id="rep_skins"/>images/bouton_noir.gif" border="0" width="6" height="7">&nbsp;<a mXattribut="href:script" class="Arial_Noir_a" target="droite"><mx:text id="script"/></a></td>
    </tr>
    <tr>
      <td width="100%" class="row_blanc">&nbsp;<img src="<mx:text id="rep_skins"/>images/bouton_noir.gif" border="0" width="6" height="7">&nbsp;<a mXattribut="href:titre" class="Arial_Noir_a" target="droite"><mx:text id="titre_guestbook"/></a></td>
    </tr>
	<tr>
      <td width="100%" class="row_blanc">&nbsp;<img src="<mx:text id="rep_skins"/>images/bouton_noir.gif" border="0" width="6" height="7">&nbsp;<a mXattribut="href:graphismes" class="Arial_Noir_a" target="droite"><mx:text id="graphismes"/></a></td>
    </tr>
    <tr>
      <td width="100%" class="row_blanc">&nbsp;<img src="<mx:text id="rep_skins"/>images/bouton_noir.gif" border="0" width="6" height="7">&nbsp;<a mXattribut="href:reponse_auto" class="Arial_Noir_a" target="droite"><mx:text id="reponse_auto"/></a></td>
    </tr>
    <tr>
      <td width="100%" class="row_blanc">&nbsp;<img src="<mx:text id="rep_skins"/>images/bouton_noir.gif" border="0" width="6" height="7">&nbsp;<a mXattribut="href:boite_java" class="Arial_Noir_a" target="droite"><mx:text id="boite_java"/></a></td>
    </tr>
	<tr>
      <td width="100%" class="row_blanc">&nbsp;</td>
    </tr>
    <tr>
      <td width="100%" align="center" bgcolor="#000000" class="row_bleu"><img src="../images/blank.gif" width="1" height="1" border="0"></td>
    </tr>
    <tr>
      <td width="100%" height="18" class="row_gris">
        <p align="center"><font class="Arial_Rouge"><b><mx:text id="messages"/></b></font></td>
    </tr>
    <tr>
      <td width="100%" align="center" bgcolor="#000000" class="row_bleu"><img src="../images/blank.gif" width="1" height="1" border="0"></td>
    </tr>
    <tr>
      <td width="100%" class="row_blanc">&nbsp;<img src="<mx:text id="rep_skins"/>images/bouton_noir.gif" border="0" width="6" height="7">&nbsp;<a mXattribut="href:gestion_mess" class="Arial_Noir_a" target="droite"><mx:text id="gestion"/></a></td>
    </tr>
    <tr>
      <td width="100%" class="row_blanc">&nbsp;<img src="<mx:text id="rep_skins"/>images/bouton_noir.gif" border="0" width="6" height="7">&nbsp;<a mXattribut="href:censure_mots" class="Arial_Noir_a" target="droite"><mx:text id="censure_mots"/></a></td>
    </tr>
	<tr>
      <td width="100%" class="row_blanc">&nbsp;<img src="<mx:text id="rep_skins"/>images/bouton_noir.gif" border="0" width="6" height="7">&nbsp;<a mXattribut="href:bannissement" class="Arial_Noir_a" target="droite"><mx:text id="bannissement"/></a></td>
    </tr>
    <tr>
      <td width="100%" class="row_blanc">&nbsp;</td>
    </tr>
    <tr>
      <td width="100%" align="center" bgcolor="#000000" class="row_bleu"><img src="../images/blank.gif" width="1" height="1" border="0"></td>
    </tr>
    <tr>
      <td width="100%" height="18" class="row_gris">
        <p align="center"><font class="Arial_Rouge"><b><mx:text id="smileys"/></b></font></td>
    </tr>
    <tr>
      <td width="100%" align="center" bgcolor="#000000" class="row_bleu"><img src="../images/blank.gif" width="1" height="1" border="0"></td>
    </tr>
    <tr>
      <td width="100%" class="row_blanc">&nbsp;<img src="<mx:text id="rep_skins"/>images/bouton_noir.gif" border="0" width="6" height="7">&nbsp;<a mXattribut="href:gestion_smileys" class="Arial_Noir_a" target="droite"><mx:text id="gestion"/></a></td>
    </tr>
    <tr>
      <td width="100%" class="row_blanc">&nbsp;</td>
    </tr>
    <tr>
      <td width="100%" align="center" bgcolor="#000000" class="row_bleu"><img src="../images/blank.gif" width="1" height="1" border="0"></td>
    </tr>
    <tr>
      <td width="100%" height="18" class="row_gris">
        <p align="center"><font class="Arial_Rouge"><b><mx:text id="bdd"/></b></font></td>
    </tr>
    <tr>
      <td width="100%" align="center" bgcolor="#000000" class="row_bleu"><img src="../images/blank.gif" width="1" height="1" border="0"></td>
    </tr>
    <tr>
      <td width="100%" class="row_blanc">&nbsp;<img src="<mx:text id="rep_skins"/>images/bouton_noir.gif" border="0" width="6" height="7">&nbsp;<a mXattribut="href:m_optimisation" class="Arial_Noir_a" target="droite"><mx:text id="optimisation"/></a></td>
    </tr>
    <tr>
      <td width="100%" class="row_blanc">&nbsp;<img src="<mx:text id="rep_skins"/>images/bouton_noir.gif" border="0" width="6" height="7">&nbsp;<a mXattribut="href:m_sauvegarde" class="Arial_Noir_a" target="droite"><mx:text id="sauvegarde"/></a></td>
    </tr>
    <tr>
      <td width="100%" class="row_blanc">&nbsp;<img src="<mx:text id="rep_skins"/>images/bouton_noir.gif" border="0" width="6" height="7">&nbsp;<a mXattribut="href:m_restauration" class="Arial_Noir_a" target="droite"><mx:text id="restauration"/></a></td>
    </tr>
    <tr>
      <td width="100%" class="row_blanc">&nbsp;</td>
    </tr>

    <tr>
      <td width="100%" align="center" bgcolor="#000000" class="row_bleu"><img src="../images/blank.gif" width="1" height="1" border="0"></td>
    </tr>
    <tr>
      <td width="100%" height="18" class="row_gris">
        <p align="center"><font class="Arial_Rouge"><b><mx:text id="utilisateurs"/></b></font></td>
    </tr>
    <tr>
      <td width="100%" align="center" bgcolor="#000000" class="row_bleu"><img src="../images/blank.gif" width="1" height="1" border="0"></td>
    </tr>
    <tr>
      <td width="100%" class="row_blanc">&nbsp;<img src="<mx:text id="rep_skins"/>images/bouton_noir.gif" border="0" width="6" height="7">&nbsp;<a mXattribut="href:aj_user" class="Arial_Noir_a" target="droite"><mx:text id="ajouter"/></a></td>
    </tr>
    <tr>
      <td width="100%" class="row_blanc">&nbsp;<img src="<mx:text id="rep_skins"/>images/bouton_noir.gif" border="0" width="6" height="7">&nbsp;<a mXattribut="href:gest_users" class="Arial_Noir_a" target="droite"><mx:text id="gestion"/></a></td>
    </tr>
    <tr>
      <td width="100%" class="row_blanc">&nbsp;</td>
    </tr>
    <tr>
      <td width="100%" align="center" bgcolor="#000000" class="row_bleu"><img src="../images/blank.gif" width="1" height="1" border="0"></td>
    </tr>
    <tr>
      <td width="100%" height="18" class="row_gris">
        <p align="center"><font class="Arial_Rouge"><b><mx:text id="a_propos_de"/></b></font></td>
    </tr>
    <tr>
      <td width="100%" align="center" bgcolor="#000000" class="row_bleu"><img src="../images/blank.gif" width="1" height="1" border="0"></td>
    </tr>
    <tr>
      <td width="100%" class="row_blanc">&nbsp;<img src="<mx:text id="rep_skins"/>images/bouton_noir.gif" border="0" width="6" height="7">&nbsp;<a mXattribut="href:url_version" class="Arial_Noir_a" target="droite"><mx:text id="version"/></a> <mx:text id="new_version"/></td>
    </tr>
    <tr>
      <td width="100%" class="row_blanc">&nbsp;<img src="<mx:text id="rep_skins"/>images/bouton_noir.gif" border="0" width="6" height="7">&nbsp;<a href="http://www.alexguestbook.net/faq" class="Arial_Noir_a" target="_blank"><mx:text id="aide_guestbook"/></a></td>
    </tr>
	<tr>
      <td width="100%" class="row_blanc">&nbsp;<img src="<mx:text id="rep_skins"/>images/bouton_noir.gif" border="0" width="6" height="7">&nbsp;<a href="<mx:text id="lien_accueil_livre"/>" class="Arial_Noir_a" target="_blank"><mx:text id="admin_retour_livre"/></a></td>
    </tr>
	<tr>
      <td width="100%" class="row_blanc">&nbsp;</td>
    </tr>
    <tr>
      <td width="100%" align="center" bgcolor="#000000"><img src="../images/blank.gif" width="1" height="1" border="0"></td>
    </tr>
    <tr>
      <td width="100%" class="row_gris">
        <p align="center"><a mXattribut="href:deconnexion" class="Verdana_Noir" target="_parent"><b><mx:text id="deconnexion"/></b></a><br>(<mx:text id="login_admin"/>)</td>
    </tr>
  </table>
  </center>
</div>

</body>

</html>