<!-- bloc header -->
<mx:bloc id="bloc1">
</mx:bloc id="bloc1">
<!-- fin bloc header -->

<!-- bloc tableau_haut -->
<mx:bloc id="bloc2">
</mx:bloc id="bloc2">
<!-- fin bloc tableau_haut -->

<script language="javascript" type="text/javascript">
<!--
function update_flag(objet){
	if (objet.value)
		document.getElementById("img_flags").src = '../images/flags/'+objet.value+'.png';
}

function smiley(smile) {
 smile = " "+smile+" ";

 var compgen = navigator.userAgent.toLowerCase();
 var navsafari = ((compgen.indexOf('safari') != -1) || (navigator.vfinor == "Apple"));
 var navie = ((compgen.indexOf('msie') != -1) && (!navopera) && (!navsafari) && (!navwebtv));
 var navopera = (compgen.indexOf('opera') != -1);
 var navwebtv = (compgen.indexOf('webtv') != -1);
 var oswin =  ((compgen.indexOf("win") != -1) || (compgen.indexOf("16bit") != -1));
 var navers = parseInt(navigator.appVersion);
 var chem = document.getElementById('message_textarea');
 var fermer = false;
 
 if ((navers >= 4) && navie && oswin) {
  if (chem.isTextEdit) {
   chem.focus();
   var dselect = document.selection;
   var cr = dselect.createRange(); cr.colapse;
   if ((dselect.type == "Text" || dselect.type == "None") && cr != null) {
    fermer = true;
    cr.text = smile;
   }
  }
  else { fermer = true; chem.value += smile; }
 }
 else {
  if (chem.selectionEnd) { 
   var selectdebut = chem.selectionStart;
   var selecthaut = chem.scrollTop;
   var selectfin = chem.selectionEnd;
   if (selectfin <= 2) { selectfin = chem.textLength; }
   var debut  = (chem.value).substring(0, selectdebut);
   var milieu = (chem.value).substring(selectdebut, selectfin);
   var fin    = (chem.value).substring(selectfin, chem.textLength);
   if (chem.selectionEnd - chem.selectionStart > 0) { milieu = smile + milieu; } else { milieu = smile + milieu; fermer = true; }
   chem.value = debut + milieu + fin;
   var cpos = selectdebut + (milieu.length);
   chem.selectionStart = cpos;
   chem.selectionEnd = cpos;
   chem.scrollTop = selecthaut;
  }
  else { 
   fermer = true;
   chem.value += smile; 
  }
  
  chem.focus(); return fermer;
 }
}

function script_popup(page, name, largeur, hauteur, options){
  var top=(screen.height-hauteur)/2;
  var left=(screen.width-largeur)/2;
  window.open(page,name,"top="+top+",left="+left+",width="+largeur+",height="+hauteur+","+options);
}
//-->
</script>

<p align="center"><br>
<b><font class="Arial_Gros_Bleu"><mx:text id="modif_mess"/><br>
&nbsp;</font></b>

<table border="0" width="100%" cellspacing="0" cellpadding="8">
<tr>
<td width="100%">

<table border="0" width="100%" cellspacing="2" cellpadding="3" height="40">
  <form name="aj" method="POST" action="modif_mess.php?f_sid=<mx:text id="f_sid"/>&debut=<mx:text id="debut"/>&id_mess=<mx:text id="id_mess"/>">
  <tr>
 <td width="100%" height="20" class="row_bleu" colspan="2"><b><font class="Verdana_Blanc">&nbsp;<mx:text id="message_modif"/>
  [ID=<mx:text id="id_mess"/>]</font></b></td>
  </tr>
  <tr>
 <td width="27%" height="26" class="row_gris">
  <p><mx:text id="nom_modif"/></p>
 </td>
 <td width="73%" height="26" class="row_gris">
  <input type="text" name="nom" size="32" maxlength="50" value="<mx:text id="value_nom"/>">
 </td>
  </tr>
  <tr>
 <td width="27%" height="26" class="row_gris">
  <p><mx:text id="email_modif"/></p>
 </td>
 <td width="73%" height="26" class="row_gris">
  <input type="text" name="email" size="32" maxlength="150" value="<mx:text id="value_email"/>">
 </td>
  </tr>
  <tr>
 <td width="27%" height="26" class="row_gris">
  <p><mx:text id="site_web_modif"/></p>
 </td>
 <td width="73%" height="26" class="row_gris">
  <input type="text" name="site_web" size="44" maxlength="150" value="<mx:text id="value_site_web"/>">
 </td>
  </tr>
  <tr>
 <td width="27%" height="26" class="row_gris">
  <p><mx:text id="note_modif"/></p>
 </td>
 <td width="73%" height="26" class="row_gris">
    <p>
   <mx:text id="value_note"/>
    </p>
 </td>
  </tr>
  <tr>
 <td width="27%" height="26" class="row_gris">
  <p><mx:text id="ville_modif"/></p>
 </td>
 <td width="73%" height="26" class="row_gris">
  <input type="text" name="ville_pays" size="32" maxlength="60" value="<mx:text id="value_ville_pays"/>">
 </td>
  </tr>
  <tr>
 <td width="27%" height="26" class="row_gris"><mx:text id="pays_modif"/></td>
 <td width="73%" height="26" class="row_gris"><select size="1" name="pays" onchange="update_flag(this)"><option value="">-</option><mx:text id="select_pays"/></select> <img id="img_flags" src="../images/<mx:text id="img_flags"/>" width="18" height="12" title="<mx:text id="flag"/>" align="absmiddle" style="border: 0px">
 </td>
  </tr>
  <tr>
 <td width="27%" height="26" class="row_gris">
  <p><mx:text id="message_modif"/></p>
 </td>
 <td width="73%" height="26" class="row_gris">
  <div style="text-align: center; margin-bottom: 4px; margin-top: 3px"><mx:text id="liste_smileys"/></div><textarea id="message_textarea" rows="15" name="message" cols="71"><mx:text id="value_message"/></textarea>
 </td>
  </tr>
  <tr>
 <td width="27%" height="26" class="row_gris">
  <p><mx:text id="date_modif"/></p>
 </td>
 <td width="73%" height="26" class="row_gris">
   <input type="text" name="date" size="20" maxlength="19" value="<mx:text id="value_date"/>">&nbsp; HH-MM-DD H:i:s
 </td>
  </tr>
  <tr>
 <td width="27%" height="26" class="row_gris">
  <p><mx:text id="ip_modif"/></p>
 </td>
 <td width="73%" height="26" class="row_gris">
    <p>
  <input type="text" name="ip1" size="2" maxlength="3" value="<mx:text id="value_ip1"/>"><b>.</b><input type="text" name="ip2" size="2" maxlength="3" value="<mx:text id="value_ip2"/>"><b>.</b><input type="text" name="ip3" size="2" maxlength="3" value="<mx:text id="value_ip3"/>"><b>.</b><input type="text" name="ip4" size="2" maxlength="3" value="<mx:text id="value_ip4"/>"></p>
 </td>
  </tr>
  <tr>
 <td width="100%" height="53" colspan="2">
  <p align="center">&nbsp;<input type="submit" value="<mx:text id="enregistrer"/>" name="modifier" class="save"> &nbsp;&nbsp;&nbsp;<input type="button" value="<mx:text id="revenir"/>" class="normal" onclick="location.href='gestion_mess.php?f_sid=<mx:text id="f_sid"/>&debut=<mx:text id="debut"/>'">
  </p>
 </td>
  </tr>
  </form>
</table>

</td>
  </tr>
</table>

<!-- publicité AlexGuestbook -->
<mx:bloc id="bloc3">
</mx:bloc id="bloc3">
<!-- fin publicité AlexGuestbook -->

<!-- tableau bas -->
<mx:bloc id="bloc4">
</mx:bloc id="bloc4">
<!-- fin tableau bas -->