<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<html>

<head>
<meta http-equiv="Content-Type" content="text/html; charset=<mx:text id="SCRIPT_ENCODAGE"/>">
<title><mx:text id="title"/></title>
</head>

<frameset framespacing="0" border="0" cols="170,*" frameborder="0">
  <frame name="gauche" scrolling="auto" noresize src="gauche.php?f_sid=<mx:text id="f_sid"/>">
  <frame name="droite" src="options.php?f_sid=<mx:text id="f_sid"/>">
  <noframes>
  <body topmargin="0" leftmargin="0">

  <p>This web page uses frames, but your browser doesn't support them.</p>

  </body>
  </noframes>
</frameset>

</html>