<img border="0" src="<mx:text id="img_src"/>" alt="<mx:text id="alt_image"/>">
<input type="hidden" name="id_smiley_<mx:text id="boucle"/>" value="<mx:text id="id_image"/>">
<input type="checkbox" name="sup_<mx:text id="boucle"/>" value="<mx:text id="id_image"/>" class="radio"><br>
<input type="text" name="value_numero_<mx:text id="boucle"/>" size="3" style="text-align: center" value="<mx:text id="value_numero"/>"> 
<input type="text" name="value_car_replace_<mx:text id="boucle"/>" size="7" style="text-align: center" value="<mx:text id="value_car_replace"/>">