<!-- bloc header -->
<mx:bloc id="bloc1">
</mx:bloc id="bloc1">
<!-- fin bloc header -->

<!-- bloc tableau_haut -->
<mx:bloc id="bloc2">
</mx:bloc id="bloc2">
<!-- fin bloc tableau_haut -->

<script language="javascript">
<!--
function update_lang(objet){
	if (objet.value)
		location.href = 'titre.php?f_sid=<mx:text id="f_sid"/>&lang_edit='+objet.value;
}
//-->
</script>

<p align="center"><br>
<b><font class="Arial_Gros_Bleu"><mx:text id="titre_guestbook"/><br>
&nbsp;</font></b>

<table border="0" width="100%" cellspacing="0" cellpadding="8">
<tr>
<td width="100%">

<table border="0" width="100%" cellspacing="1" cellpadding="4" class="table_rouge">
  <tr>
 <td width="100%" class="row_blanc"><p align="justify"><font class="Verdana_Rouge"><mx:text id="text_titre_guestbook"/></font></p></td>
  </tr>
</table>

&nbsp;

<table border="0" width="100%" cellspacing="2" cellpadding="3" height="40">
  <form name="save" method="POST" action="titre.php?f_sid=<mx:text id="f_sid"/>&amp;lang_edit=<mx:text id="lang_edit"/>">
  <tr>
 <td width="100%" height="20" class="row_bleu"><b><font class="Verdana_Blanc">&nbsp;<mx:text id="parametrage"/></font></b></td>
  </tr>
  <tr>
 <td width="100%" height="26" class="row_gris">
  <mx:text id="langue"/> : 
  <select size="1" name="langue" onchange="update_lang(this)">
  <mx:text id="liste_langues"/>
  </select>

  <br><br>
  <mx:text id="titre"/> : <input type="text" name="titre" value="<mx:text id="msg_langue"/>" size="70">
 </td>
  </tr>
  <tr>
 <td width="100%" height="26" style="text-align: center">
  <input type="submit" name="enregistrer" value="<mx:text id="enregistrer"/>" class="save">
 </td>
  </tr>
  </form>
</table>

</td>
  </tr>
</table>

<!-- publicité AlexGuestbook -->
<mx:bloc id="bloc3">
</mx:bloc id="bloc3">
<!-- fin publicité AlexGuestbook -->

<!-- tableau bas -->
<mx:bloc id="bloc4">
</mx:bloc id="bloc4">
<!-- fin tableau bas -->