<div class="d_nb_mess_page">
	<div class="three1">
		<span class="color_d_nb_mess_page1"><mx:text id="messages"/> :</span> <span class="color_d_nb_mess_page2"><mx:text id="message_de_a1"/></span>
		<span class="color_d_nb_mess_page1"><mx:text id="messages_a"/></span> <span class="color_d_nb_mess_page2"><mx:text id="message_de_a2"/></span>
	</div>
	<div class="three2">
		<span class="color_d_nb_mess_page1"><mx:text id="page"/> :</span> <span class="color_d_nb_mess_page2"><mx:text id="page_en_cours"/></span>
		</div>
	<div class="three3">
		<span class="color_d_nb_mess_page1"><mx:text id="nbre_messages"/> :</span> <span class="color_d_nb_mess_page2"><mx:text id="nb_messages_total"/></span>
	</div>
</div>