<tr>
 <td width="100%">
<table border="0" width="100%" cellpadding="4" cellspacing="0">
  <tr>

 <!-- begin first row -->
 <td width="24%" valign="top" class="row_gris2">
<table border="0" width="100%" cellspacing="0" cellpadding="0">
  <tr>
 <td width="10%" height="20"><img border="0" src="<mx:text id="chem_absolu"/>templates/skins/double_NewLook/images/name.gif" width="16" height="15"></td>
 <td width="90%"><a name="id<mx:text id="idMsg"/>"><font class="Verdana_rouge_clair"><b><mx:text id="pseudo"/></b> <mx:text id="ville"/><mx:text id="pays"/> <mx:text id="flag"/></font></a></td>
  </tr>

<mx:bloc id="bloc_aff_note">
  <tr>
 <td width="10%" height="20"><b><img border="0" src="<mx:text id="chem_absolu"/>templates/skins/double_NewLook/images/vote.gif" width="15" height="12"></b></td>
 <td width="90%"><font class="Verdana_Noir"><mx:text id="note"/>/10</font></td>
  </tr>
</mx:bloc id="bloc_aff_note">

</table>
 </td>

 <!-- start second row -->
 <td width="76%" valign="top" class="row_gris">
<table border="0" width="100%" cellspacing="0" cellpadding="4">
  <tr>
 <td width="100%">
<table border="0" width="100%" cellspacing="0" cellpadding="0">
  <tr>
 <td width="100%"><img border="0" src="<mx:text id="chem_absolu"/>templates/skins/double_NewLook/images/new.gif" width="7" height="9"> <font class="Verdana_Noir"><mx:text id="message_le"/> <mx:text id="message_date"/> <mx:text id="message_a"/> <mx:text id="message_heure"/></font>&nbsp;<mx:text id="img_home"/>&nbsp;<mx:text id="img_mail"/></td>
  </tr>
  <tr>
 <td width="100%">
<hr>
 </td>
  </tr>
  <tr>
 <td width="100%"><font class="Verdana_Noir"><mx:text id="message_write"/>
<mx:bloc id="bloc_reponse">
<br><br><div class="reponse"><b><mx:text id="titre_reponse"/></b> : <mx:text id="reponse"/></div>
</mx:bloc id="bloc_reponse">
 </font></td>
  </tr>
</table>
 </td>
  </tr>
</table>
 </td>
  </tr>
</table>
 </td>
</tr>