<tr>
 <td width="100%">
<table border="0" width="100%" cellspacing="1" cellpadding="1">
<tr>
 <td width="100%" class="row_bleu">
 
 <table border="0" width="100%" cellspacing="0" cellpadding="1">
 <tr>
  <td width="25%">
  <img border="0" src="<mx:text id="chem_absolu"/>templates/skins/double_NewLook/images/write.gif" width="10" height="11"> <b><a href="<mx:text id="pageReload"/>?seeMess=1&seeNotes=1&seeAdd=0&skin=<mx:text id="skin"/>&lang=<mx:text id="lang"/>" class="Blanc"><mx:text id="addSignature"/></a></b></td>

  <td width="50%">
  <p align="center"><b><font class="Verdana_gris"><mx:text id="page"/></font> <font class="Verdana_blanc"><mx:text id="page_en_cours"/></font> <font class="Verdana_gris">-</font> <font class="Verdana_gris"><mx:text id="messages"/></font> <font class="Verdana_blanc"><mx:text id="message_de_a1"/></font> <font class="Verdana_gris"><mx:text id="messages_a"/></font> <font class="Verdana_blanc"><mx:text id="message_de_a2"/></font></b></td>

  <td width="25%">
  <p align="right"><a href="index.php?lang=francais&skin=<mx:text id="skin"/>&debut=<mx:text id="debut"/>&seeAdd=<mx:text id="seeAdd"/>&seeNotes=<mx:text id="seeNotes"/>&seeMess=<mx:text id="seeMess"/>" TARGET="_top"><img border="0" src="<mx:text id="chem_absolu"/>templates/skins/double_NewLook/images/fr.gif" width="16" height="11" alt="Ce livre d'or en français"></a>
  <a href="index.php?lang=english&skin=<mx:text id="skin"/>&debut=<mx:text id="debut"/>&seeAdd=<mx:text id="seeAdd"/>&seeNotes=<mx:text id="seeNotes"/>&seeMess=<mx:text id="seeMess"/>" TARGET="_top"><img border="0" src="<mx:text id="chem_absolu"/>templates/skins/double_NewLook/images/us.gif" width="16" height="11" alt="This guestbook in english"></a>&nbsp;
  </td>
 </tr>
 </table>

</td>
  </tr>
</table>
 </td>
  </tr>